.item-container {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.add-laylout {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 16px;
  width: 300px;
}
